.location-search-wrapper{
    position: relative;
    text-align: center;
    margin-top: 43px;
}

.location-search-container{
    line-height: 25px;
}

.location-search-input{
    margin: 0px 5px;
    border: none;
    text-overflow: ellipsis;
}

.location-search-input:focus-visible{
    margin: 0px 5px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #D6D7DA;
    outline: none;
}

.search-icon {
    font-size: 21px;
    vertical-align: middle;
}

.location-searching-icon{
    font-size: 15px;
}

.location-searching-wrapper{
    display: inline-block;
    height: 21px;
    width: 21px;
    vertical-align: middle;
    border-radius: 50%;
    background: #ebebed;
    margin-left: 35px;
}