<div class="forecast-wrapper">
    <div class="forecast-container">
        <div class="forecast-icon-big">
            <span class="material-symbols-outlined">
                partly_cloudy_day
                </span>
        </div>
        <div class="temperature">
            <span class="temp-numb">12</span>
            <span class="metric-temp">&deg;C</span>
        </div>
        <div class="date">
            <span class="day-of-week">Monday, </span>
            <span class="hour">16:00</span>
        </div>
        <div class="divider"></div>
        <div class="forecast-desc">
            <div class="clouds">
                <span class="material-symbols-outlined">
                    cloud
                    </span>
                    <span>Mostly Cloudy</span>
            </div>
            <div class="rain">
                <span class="material-symbols-outlined">
                    rainy_light
                    </span>
                    <span>Rain - 30 %</span>
            </div>
        </div>
    </div>
</div>
