<div class="forecast-wrapper">
    <div class="forecast-container">
        <div class="forecast-icon-big">
            <span class="material-symbols-outlined">
                partly_cloudy_day
                </span>
        </div>
        <div class="temperature">
            <span class="temp-numb">12</span>
            <span class="metric-temp">&deg;C</span>
        </div>
        <div class="date">
            <span class="day-of-week">Monday, </span>
            <span class="hour">16:00</span>
        </div>
        <div class="divider-wrapper">
            <hr class="divider">
        </div>
        <div class="forecast-desc">
            <div class="clouds">
                <span class="material-symbols-outlined clouds-icon">
                    cloud
                    </span>
                <span class="clouds-text">Mostly Cloudy</span>
            </div>
            <div class="rain">
                <span class="material-symbols-outlined precipitation-icon">
                    rainy_light
                    </span>
                <span class="precipitation-text">Rain - 30 %</span>
            </div>
        </div>
    </div>
</div>
